<!doctype html>
<html>
  <head>
    <title>Triad X3</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Triad X3</h1>
    <table>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
    </table>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>