<!doctype html>
<html>
  <head>
    <title>Game</title>
    <link rel='stylesheet' href='/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Game</h1>
    <h2>Player: <span id="player"></span></h2>
    <h3>Player 1 Score: <span id="player1score"></span></h3>
    <h3>Player 2 Score: <span id="player2score"></span></h3>
    <table><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr></table>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>