<!doctype html>
<html>
  <head>
    <title>Game</title>
    <link rel='stylesheet' href='/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div id="player1-deck" class="deck"></div>
    <table id="board"><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td></tr></table>
    <div id="player2-deck" class="deck"></div>
    <div style="clear:both;"></div>
    <div id="scores"><span id="player1score"></span>-<span id="player2score"></span></div>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>