body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  z-index: 1;
  perspective: 1000px;
}

td {
  width:120px;
  height:150px;
}

.card {
  width: 108px;
  height: 138px;
  margin: 5px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.25s linear;
}
.card.flip {
  transform: rotateY(180deg);
}

.face {
  border:1px solid #333;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.25s linear;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  background-color: #e2e2e2;
}

.face.front {
  background-color: #f66;  
}

.card i {
  width: 100%;
  height: 100%;
  font-size: 5em;
  line-height: 2em;
  text-align: center;
  text-shadow: 2px 2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, -2px -2px 2px #fff;
}

.face.front i {
  color: #fdd;
  text-shadow: none;
}
.face.back i {
  text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000, 5px 5px 5px #fff, 5px -5px 5px #fff, -5px 5px 5px #fff, -5px -5px 5px #fff;
}

i.fa-bicycle {
  color: #8A2BE2;
}
i.fa-euro {
  color: yellow;
}
i.fa-apple {
  color: #D3D3D3;
}
i.fa-android {
  color: #ADFF2F;
}
i.fa-twitter {
  color: #7FD9F7;
}
i.fa-pagelines {
  color: #008000;
}
i.fa-drupal {
  color: #6633FF;
}
i.fa-ambulance {
  color: #ffffff;
}
i.fa-star-o {
  color: #FFD700;
}
@
keyframes flash {
  0%   {background-color: #fff;}
  25%  {background-color: #333;}
  50% {background-color: #fff;}
  75%  {background-color: #333;}
  100% {background-color: #fff;}
}

.card.flash .face {
  animation-name: flash;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}